Source: xfce4-notifyd
Section: xfce
Priority: optional
Maintainer: Matias De lellis <mati86dl@gmail.com>
Uploaders: Matias De lellis <mati86dl@gmail.com>
Build-Depends: debhelper (>= 10),
               exo-utils,
               intltool,
               libgtk-3-dev (>= 3.20),
               libnotify-dev (>= 0.7.0),
               libxfce4panel-2.0-dev (>= 4.12),
               libxfce4ui-2-dev,
               libxfce4util-dev (>= 4.12),
               libxfconf-0-dev (>= 4.12),
               xfce4-dev-tools
Rules-Requires-Root: no
Standards-Version: 4.5.1
Homepage: https://docs.xfce.org/apps/notifyd/start
Vcs-Git: https://salsa.debian.org/xfce-team/goodies/xfce4-notifyd.git
Vcs-Browser: https://salsa.debian.org/xfce-team/goodies/xfce4-notifyd

Package: xfce4-notifyd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: notification-daemon
Recommends: libnotify-bin
Description: simple, visually-appealing notification daemon for Xfce
 Xfce4-notifyd is a simple, visually-appealing notification daemon for Xfce
 that implements the Freedesktop.org Desktop Notifications Specification.
 .
 Features:
  * Themable using the GTK+ theming mechanism
  * Visually appealing: rounded corners, shaped windows
  * Supports transparency and fade effects
